
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      <img class="logo1" src="assets/images/logo2.jpg"   alt="">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      
                      <li class="has-sub">
                          <a href="javascript:void(0)">Overview of Safhealth Apps</a>
                          <ul class="sub-menu">
                              <li><a routerLink="/home">Home</a></li>
                              <li><a href="our-services.html">Contact us</a></li>
                              <li><a href="contact-us.html">About us</a></li>
                              <li><a routerLink="/privacy">Privacy </a></li>
                               
                          </ul>
                      </li>
                      <li class="scroll-to-section"><a routerLink="/data-protection">Data Protection </a></li>
                      <!--<li><a href="contact-us.html">Donate</a></li>  -->
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
