<br/><br/><br/>
<div class="containerTT">
    <div class="container">
     

<h4>THE COLLECTION, USE, SHARE OF DATA, AND YOUR RIGHTS OVERVIEW</h4>
    <div class="welcome-message">
  <h2>Once again! Welcome to Safhealth's site.</h2>
  <p>
    We understand how important your privacy is to you, and we value it equally. Regarding the data we collect about you, how we use it, and with whom we share it, we want to be transparent and truthful.
  </p>
  <p>
    To put it simply, this notice describes how we use your personal information:
  </p>
</div>

      <mat-accordion>
  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>

      <mat-panel-title>

        Definitions we use in this notice

      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="disclaimer-container">
  <!--<h2>Definitions</h2>-->
  <div class="container">
        <ul>
            <li><strong>1.</strong> The businesses or any one of them that comprise the "Safhealth Apps Service and Together the Best Life" are referred to as <strong>"Safhealth," "us," "we,"</strong> or <strong>"our."</strong></li>
            <li><strong>2.</strong> Investors and Partners affiliated with "Safhealth Apps Service and Together the Best Life added value" comprise <strong>"Safhealth."</strong> This relationship may arise from ownership by Together the Best Life or through partnerships, investments, or joint ventures.</li>
            <li><strong>3.</strong> A <strong>natural person</strong> (individual) or, if applicable, a <strong>juristic person</strong> (firm) is referred to as <strong>"you" or "your."</strong></li>
            <li><strong>4.</strong> Health services and other healthcare products offered under the <strong>"Safhealth"</strong> business name are referred to as <strong>"Safhealth Apps Services."</strong></li>
            <li><strong>5.</strong> Any information that can be used to identify you is referred to as <strong>"personal data" or "personal information."</strong></li>
            <li><strong>6.</strong> A business that collects personal data and decides how and why to use it is referred to as a <strong>"controller."</strong></li>
            <li><strong>7.</strong> A business that processes personal data on behalf of a controller is called a <strong>"processor."</strong></li>
            <li><strong>8.</strong> The laws governing our processing of personal data are referred to as <strong>"applicable privacy law."</strong> This includes, but is not limited to, the Protection of Personal Information Act of 2013 (POPIA).</li>
        </ul>
    </div>
</div>


  </mat-expansion-panel>


   <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>

      <mat-panel-title>

        Who is responsible for looking after your personal data

      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="disclaimer-container">
  <!--<h2>Definitions</h2>-->
  <div class="container">
      
        <p>The responsibility for managing your personal data depends on the services you use. Depending on the service:</p>
        <ul>
            <li>Safhealth Apps and Together the Best Life Added Value Services may act as a <strong>processor</strong> if processing on behalf of another entity.</li>
            <li>We may act as a <strong>controller</strong> if we are directly providing you with a service.</li>
            <li>Other businesses offering health services may also provide different services.</li>
        </ul>

        <p>Our intra-group company agreement ensures that any sharing of personal data within Safhealth Apps and Together the Best Life Added Value Services is protected.</p>

        <p class="contact">For additional information, contact us at: <a href="mailto:privacy@safertbl.com">privacy@safertbl.com</a></p>
    </div>
</div>


  </mat-expansion-panel>


  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        How do we collect your data, when and why?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="copyright-container">
  <!--<h2>Copyright and Ownership</h2>-->
   <div class="container">
        <h1>Why We Collect Your Data</h1>
        <p>We gather your data because Safhealth is in the business of offering you services. The when, why, and how are explained below. 
        We make every effort to identify every situation in which we might process your data. You can be sure that we will process your personal data in accordance with applicable data protection legislation. 
        If we do so for a purpose or in a manner not specified in this notice, you can contact <a href="mailto:privacy@safertbl.com">privacy@safertbl.com</a> at any moment to inquire about the personal information we handle.</p>
        
        <h2>When and Why We Collect Data</h2>
        
        <div class="data-section">
            <p><strong>When:</strong> You sign a contract with us, create a profile or account, or request assistance.</p>
            <p><strong>Why:</strong> To fulfil our responsibilities to you and comply with applicable laws, to provide the services you need, and to assist you before entering into a contract.</p>
        </div>

        <div class="data-section">
            <p><strong>When:</strong> We provide our services to you.</p>
            <p><strong>Why:</strong> To meet our obligations, we require specific, accurate, and complete information from you when using our services.</p>
        </div>

        <div class="data-section">
            <p><strong>When:</strong> You get in touch with us.</p>
            <p><strong>Why:</strong> We log all emails and chat messages to ensure we understand your requests. Calls made to Safhealth’s contact center are recorded for quality, training, and monitoring purposes.</p>
        </div>

        <div class="data-section">
            <p><strong>When:</strong> You post updates, apply for a service, or sign up for one.</p>
            <p><strong>Why:</strong> We obtain this information either directly from you or through the website where you submitted your application or résumé, to consider you for service approval.</p>
        </div>

        <div class="data-section">
            <p><strong>When:</strong> You participate in contests, surveys, or questionnaires about our products or services, or fill out a form on our website or the Safhealth app (e.g., the "Get in Touch" section).</p>
            <p><strong>Why:</strong> This includes details you provide when inquiring about services, requesting contact, or reporting an issue with our website or services.</p>
        </div>

        <div class="data-section">
            <p><strong>When:</strong> If you are our supplier or partner and provide us with goods or services.</p>
            <p><strong>Why:</strong> We may need to collect personal information of legal and/or natural persons involved, including supplier representatives or liaison personnel. 
            Data may be gathered directly from you or your organization. We process this data to fulfill agreements with you or your organization.</p>
        </div>

        <p class="contact">For any inquiries, contact us at: <a href="mailto:privacy@safertbl.com">privacy@safertbl.com</a></p>
    </div>
</div>


  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        We get data about you from other members of Safhealth.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="paia-container">
  <!--<h2>Promotion of Access to Information Act</h2>-->
  <h2>When</h2>
    <p>You utilize our services, register for an account or profile, contact us in any other way, or request information or assistance.</p>
    
    <h2>Why</h2>
    <p>To fulfil our legal responsibilities, provide you with the information and services you desire, and guarantee excellent customer service. We only give your information to other Safhealth businesses when we are providing you with services or when you have granted us permission (for instance, when you wish to build a Safhealth profile).</p>
    
    <h2>When</h2>
    <p>We execute services for you under a contract, we process your data because it's required by law or because it's essential to the fulfilment of the service agreement. We will request your permission to contact you for marketing purposes.</p>
    
    <h4>1. We may also get your personal data from other sources, for example in these circumstances:</h4>
    <ul>
        <li>From sanction lists, to ensure that the individuals we interact with are not sanctioned.</li>
        <li>We collaborate with third parties to provide services to you, including advertising networks, analytics providers, search information providers, and consumers participating in refer-a-friend programs. If you are listed as a beneficiary on an insurance policy by one of our clients.</li>
        <li><strong>Log Files:</strong> The information we save on who is using our website or the Safhealth app, as well as when and how they are using it, is known as log data.</li>
        <li><strong>Safhealth App:</strong> Upon downloading the Safhealth app, we will gather log files, as well as information about your identification, device type, operating system version, and system and performance details.</li>
    </ul>
    
    <h4>2. Cookies and Related Technologies</h4>
    <p>A cookie is a little file that is stored in your web browser. It enables the Safhealth app or our website to recognize your device.</p>
    <ul>
        <li>Improve your experience using our website or the Safhealth app (functional).</li>
        <li>Count the number of pages you view (statistics).</li>
        <li>Provide you with pertinent marketing and promotions.</li>
    </ul>
    
    <h4>3. CCTV Data Collection</h4>
    <p>We may gather your personal information when you visit our offices or property, including CCTV footage in specific locations.</p>
    
    <h4>4. Biometric Information</h4>
    <p>Biometric information can be used to uniquely identify a person. This may include facial photos and fingerprints.</p>
    
    <h4>5. APIs for Google Maps</h4>
    <p>We make use of the Geocoding API, which translates addresses into geographic coordinates, and the Google Places API, which provides location and autocomplete data.</p>
    
    <h5>What else do we process your data for?</h5>
    <ul>
        <li>To adhere to legal requirements, including laws governing credit, insurance, financial services, and other areas.</li>
        <li>Diagnose and fix issues with the service and maintain the security of our offerings.</li>
        <li>Enhancement of Products and Services through data analytics.</li>
        <li>Marketing: We will request your permission to send you marketing materials where mandated by law.</li>
        <li>Automated systems: We employ automated decision-making and profiling. You have the right to request human intervention.</li>
        <li>Use of your data going forward: We handle your personal information in accordance with this notice and applicable laws.</li>
    </ul>
</div>


  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        What else do we process your data?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="paia-container">
  <!--<h2>Promotion of Access to Information Act</h2>-->
    <h2> What else do we process your data?</h2>
    <ul>
        <li>1. To adhere to legal requirements, include laws governing credit, insurance, financial services, and other areas. Additionally, we might use your personal information to help identify or stop criminal activity, such as money laundering, fraud, terrorism financing, and other financial crimes. We will only take this action if it is necessary to fulfil a legal requirement or if it serves our legitimate interests and the interests of others</li>
        <li>2. Diagnose and fix issues with the service and maintain the security of our offerings. We may use account and usage data in the course of these operations. Usage data is particularly important when looking into fraudulent activity since it helps us piece together how long an account user has been using the account and, in the event of a security breach, it enables us to take appropriate mitigation measures. For these efforts, we depend on our legitimate interest to preserve and enhance the security of our services, which is very important to us.</li>
        <li>3. Enhancement of Products and Services: We assess, enhance, and/or customize both new and current products and services using the data you create while using our website or other channels. To better understand how you use our services and address any service difficulties you may be experiencing, we do data analytics, statistical analysis, and other types of analysis. These activities are conducted based on our legitimate interest and have as their general goal improving your experience and our products and services, keeping you updated about new products, services, and benefits that we hope will benefit you, and educating you about good financial service behaviors based on your past actions or needs.</li>

        <li>4. Marketing: We will request your permission to send you marketing materials where mandated by law. Competitions, promotions, our rewards program, and any other correspondence you want from us may be included in these emails. We rely on our genuine interest to uphold and strengthen our commercial ties when it comes to B2B (business-to-business) marketing. 
By following the links or instructions provided in our marketing emails, you can proactively manage your preferences or opt out at any time. We will cease sending you marketing materials when you unsubscribe from marketing (that is, when you object to the processing or withdraw your consent). However, we might maintain a "suppression list." In order to prevent us from contacting you with unsolicited content, it provides your phone number or email address.
</li>
        <li>5. Automated systems: As part of our ongoing efforts to improve both new and current products and services, we employ one or more automated systems for decision-making and profiling. You have the right to challenge any automated decision we make and request "human intervention.</li>
        <li>6. Use of your data going forward: We handle your personal information in accordance with this notice and any data protection regulations. Only in the following situations will we use data for a "further" purpose: 1. You granted us permission to continue processing it. 2. The personal information is accessible through a public record or disclosed by you, if permitted by law. 3. We must fulfil a legal requirement.</li>
    </ul>
</div>
</mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What data do we collect?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
  <!--<h2>Welcome to the Safhealth Apps Service</h2>-->
    <h2>1. Data on Children</h2>
    <p>To utilize our services, you must be at least eighteen years old. According to applicable law, we don't aggressively gather children's personal information or provide services to them directly.</p>
    
    <h2>2. Personal, company and health Service provider data</h2>
    <p>Title, surname and full name, Preferred Name, date of birth, age, gender, ID and/or passport number, and image of the ID and/or passport, Nationality, Selfie or picture, home telephone number, mobile number, email address, place of residence, post address, short medical history information, and medical aids number. Health services provider identity and profile data (Profession body, Professional qualifications, Practice number, State or country, company or health service registration number and certificate, banking information). </p>
    
    <h2>3. How long do we keep your personal data?</h2>
    <p>Your personal information is only retained for as long as necessary based on legal obligations, service requirements, and security considerations.</p>
</div>
</mat-expansion-panel>


<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How long do we keep your personal data?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
    <p>Your personal information is only retained for as long as necessary. The services you desire, the applicable laws we must abide by, the need to address any questions or concerns, our duty to combat confidentiality crime and fraud, and our response to regulators' demands will all play a role.  We will discard, erase, or de-identify anything that we don't need to maintain. According to our information security policies and standards, every piece of data stored on our servers is kept safe.</p>
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Who do we share your personal data with and why?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
    <p>1. Safhealth members, for the reasons outlined in this notification.</p>
    <p>2. To help us provide our services to you in a safe manner, we enlist the assistance of business partners, health services providers, and/or health organization bodies.</p>
    <p>3. Legal and regulatory bodies to fulfil our responsibilities under the law.</p>
    <p>4. If the capability is accessible, other Safhealth clients who would like to offer medical services to you through one of the Safhealth products. In order to verify and deliver health services to the appropriate customer, they will need to know your last name, identification document, or profile number. We will also provide them your personal information and, if you agree, a brief medical history.</p>
    <p>5. Stakeholders in mergers and acquisitions as a component of disclosure in the case of an asset transfer, sale, or merger. As allowed by law or a contract, your information might be transferred as part of such a transaction. </p>
    <ul>
        <li>Partners in social media 
            <ul>
                <li>1. Google: In order to gather and analyse data regarding the use of the    websites, applications, and online services, as well as to report on activities, actions, and trends, we employ Google Property Analytics, Google Ads, and other Google marketing tools that make use of cookies and related technologies. You can download the Google Analytics opt-out browser add-on at tools.google.com/dlpage/gaoptout to opt out of Google's practices, and you can read more about them at google.com/policies/privacy/partners.</li>
                <li>2. Facebook Meta: Meta Business Tools might be used. The actions you perform on our website or app, such as your visits, interactions, and usage of Facebook Connect, as well as information gathered from cookies and similar technologies like the Facebook Pixel, may be shared with Meta, depending on the Meta Business Tool we use. We do this in order to gauge the effectiveness of our advertising, enhance our marketing strategies, and provide you and those like you with more relevant advertising. Here, you may learn more about how your data is used and exercise your rights regarding data protection. </li>
                <li>Instagram</li>
                <li>3. Personalized advertising: In order to provide you and others like yourselves with more relevant advertising, we use advertising partners notably Google and Meta for personalized advertising. We disclose your personal information as part of this, but we take the necessary technical precautions to protect your identity and data. Your user account settings are from where you may control your preferences in this area.</li>
            </ul>
        </li>
    </ul>
</div>
</mat-expansion-panel>


<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What Are Your Rights?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
    <ul>
        <li>1. You are entitled to: 
            <ul>
                <li>1. Information about how we gather and use your personal information.</li>
                <li>2. To obtain your personal information. </li>
                <li>3. To fill information, you believe is lacking and to correct personal data you believe is incorrect.</li>
                <li>4. Erasure, or forgetting. You can request that your personal information be deleted.</li>
                <li>5. To limit how your personal information is processed.</li>
                <li>6. To protest how your personal information is being processed.</li>
                <li>7. To portability of data. This implies that you have the option to request that we send your personal information to another company. For further information, please get in touch with us as this is only applicable in certain countries.</li>
                <li>8. To challenge automatic judgments. You are entitled to inquire about a choice we make regarding our services if it was made without consulting anyone.</li>
  
            </ul>
          
        </li>
        <li>2. We may require identification before granting you the right to exercise any of these rights. There are restrictions on some of these privileges. For instance, we might decline your request if it might expose someone else's sensitive information. We may retain your personal information even if you request that we delete it if we are required by law to do so, or if we have a legitimate interest in keeping it or a contractual duty to do so.</li>
        <li>3. Every request needs to be made in writing. Within 30 days of the date of your inquiry, we will make every effort to respond as soon as possible. We will give an explanation if we require additional time. If your request is excessive or cannot be located, we may refuse to process it or impose a fee. If such is the case, we will explain.</li>
        <li>4. In the event that you wish to assert any of these rights, please email us at <a href="https://www.safertbl.com" target="_blank">privacy@safertbl.com.</a> </li>
    </ul>
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Our Security Practices.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
    <p>Safhealth's security measures are intended to protect privacy and guard against unauthorized access, loss, and damage to data by unauthorized individuals. In order to provide the organization with efficient cyber security risk management, our cyber security approach is in line with industry standard frameworks. Continuous security vulnerability assessments are carried out to strengthen our security posture and reassure all of our stakeholders.</p>
    <p>The ISO 27001 standard standards have been followed in the implementation of our security measures. Please visit our website here for additional details.
Data transmission via the internet, including email, is not entirely safe, unfortunately. We will take every precaution to protect your personal information, but we cannot ensure that it will be secure when it is sent to our website; you are responsible for any communication. After receiving your data, the company will employ stringent protocols and security measures to guard against unauthorized access. 
</p>
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact Details.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="terms-container">
    <p>For inquiries regarding this Privacy Notice or to get in touch with the Data Protection Officer or Information Officer, please send an email to <a href="https://www.safertbl.com" target="_blank">privacy@safertbl.com</a> with the subject line "Attention Safer DPO.</p>
</div>
</mat-expansion-panel>


</mat-accordion>
</div>
</div>
